/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mar-2017, 13:05:03
    Author     : alberto carrion
*/

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgb(50, 205, 253);
    border-width: 1px;
    border-radius: 4px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: white;
    margin-top: 15px;
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
    margin-top: 22px;
    background-color: white;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(50, 205, 253);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #265a88;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab1 >a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab1 >a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab1 >a.active{
    color: red;
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab2 >a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab2 >a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab2 >a.active{
    color: rgb(34, 177, 76);
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab3 >a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab3 >a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab3 >a.active{
    color: rgb(255, 127, 39);
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab4 >a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab4 >a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab4 >a.active{
    color: #265a88;
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab5 >a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab5 >a:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav>li.tab5 >a.active {
    color: #265a88;
    background-color: rgba(248, 248, 248, 0);
}

.fotoMenu{
    height: 80px;
}

.btnAzul{
    color: white;
    background-color:  rgb(50, 205, 253);
}

.btnAzul:hover{
    color: white;
    background-color: #265a88;
}

.btnAzul:focus{
    color: white;
    background-color: #265a88;
}

.btnVerde{
    color: white;
    background-color: rgb(34, 177, 76);
}

.btnVerde:hover{
    color: white;
    background-color: rgb(27, 137, 60);
}

.btnVerde:focus{
    color: white;
    background-color: rgb(27, 137, 60);
}

.textTwitter{
    color: rgb(50, 205, 253);
}

.range {
    display: table;
    position: relative;
    height: 25px;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}

.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb { 
    background-color: rgb(50, 205, 253);
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(50, 205, 253);
}

.range.range-primary input[type="range"]:focus{
    outline: 1px;
}

.range.range-primary output {
    background-color: rgb(50, 205, 253);
}
